.footer {
  width: 100svw;
  max-width: 100svw;
  display: flex;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  padding: 0;
  border-top: 1px solid #d2d2d2cc;
}

.left {
  margin-left: 1.25rem;
  align-items: center;
}

.middle {
  margin-left: auto;
  visibility: hidden;
}

.right {
  margin-right: 1.25rem;
  display: flex;
}

.author {
  margin-left: 10px;
  margin-right: 10px;
}

.authors {
  display: flex;
  align-content: space-between;
  align-items: center;
}

.authors::after {
  content: "©️ 2024";
}

button.fab {
  font-size: 1.5rem;
  border-radius: 50%;
  border: 0;
  width: 2rem;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  content: "";
  padding: 0;
}

.fab.dark::after {
  content: "🌚";
}

.fab.light::after {
  content: "🌞";
}

@media only screen and (max-width: 767px) {
  .right {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    display: none;
  }
}
