:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100svw;
  height: 94svh;
}

.leva-c-TldsY {
  width: fit-content;
  margin-left: auto;
}

.leva label {
  text-transform: capitalize;
  overflow: visible;
}
